@import "../../colors.scss";

.header {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-bg-dark;
  padding: 0 10px;
  margin-bottom: 10px;

  .header-container {
    height: 45px;
    display: flex;
    align-items: center;

    .braingoat-logo {
      height: 45px;
      margin-right: 10px;
    }

    .github-logo {
      height: 30px;
    }
  }
}
